<%= form_with model: subsc, url: subscription_path(subsc), method: :patch, class: "subscription-form" do |f| %>
  <div class="form-group mb-3">
    <%= f.label :name, 'サブスク名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-groupmb-3">
    <%= f.label :price, '金額' %>
    <%= f.number_field :price, 'data-toggle': "price", class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :contract_day, '契約日' %>
    <%= f.date_field :contract_day, class: 'form-control' %>
  </div>
  <div class="form-group d-flex mb-3">
    <div>
      <%= f.label :update_cycle, '更新周期' %>
      <%= f.select :update_cycle, *[1..12], class: 'form-control' %>
      <p class="mt-2">次回更新日： <%= l subsc.next_update_day, format: :date %></p>
    </div>
    <div class="m-auto">
      <%= f.submit "更新する", class: 'btn btn-primary me-3' %>
      <%= link_to "削除する", subscription_path(subsc), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger' %>
    </div>
  </div>
<% end %>