<div class="row row-cols-md-2">
  <% if subscriptions.empty? %>
    <h4 class="mt-5 mx-auto">サブスクがありません</h4>
  <% else %>
    <% subscriptions.each do |subsc| %>
      <div class="mb-3">
        <% if subsc.class == UserSubscription && user == current_user %>
          <button class="w-100 h-100" type="button" data-bs-toggle="modal" data-bs-target="#formModal-<%= subsc.id %>">
            <%= render 'public/subscriptions/card_horizontal', subsc: subsc, user: user %>
          </button>
          <div class="modal fade" id="formModal-<%= subsc.id %>" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content p-3">
                <%= render 'public/subscriptions/edit_form', subsc: subsc, user: user %>
              </div>
            </div>
          </div>
        <% else %>
          <%= render 'public/subscriptions/card_horizontal', subsc: subsc, user: user %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>