<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'form', subsc: @subsc_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>subsc detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= image_tag @subsc.get_image(100,100) %><br></td>
          <td><%= @subsc.name %></td>
          <td><%= @subsc.price %></td>
          <% if @subsc.contract_day.present? %>
            <td><%= @subsc.next_update_day %></td>
          <% end %>
          <td><%= @subsc.update_cycle %></td>
        </tr>
      </table>
    </div>
  </div>
</div>