<%= form_with model: company, url: admin_companies_path, method: :post, id: "companyNewForm" do |f| %>
  <div class="form-group mb-3">
    <%= f.label :name, '会社名' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group mb-3">
    <%= f.label :image, '画像' %>
    <%= f.file_field :image, class: "form-control-file company_image", accept: 'image/*' %>
  </div>
  <div class="form-group mb-3">
    <%= f.submit "登録する", class: 'btn btn-success' %>
  </div>
<% end %>