<h2>カテゴリー一覧</h2>
<%= render "layouts/error", obj: @category %>
<div>
  <button type="button" class="btn btn-primary rounded-pill btn_shadow my-3 ms-auto" data-bs-toggle="modal" data-bs-target="#categoryNewModal">
    <span class="d-none d-xl-block">カテゴリー登録</span>
    <i class="fas fa-plus d-xl-none d-xl-block" style="color: #ffffff;"></i>
  </button>
  <div class="modal fade" id="categoryNewModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <%= render 'admin/categories/new_form', category: @category %>
      </div>
    </div>
  </div>
</div>
<div class="categories">
  <ul class="list-unstyled d-flex flex-wrap">
    <% @categories.each do |category| %>
      <li class="me-2 mb-2">
        <button type="button" class="btn btn-hover rounded-pill text-reset border border-secondary" data-bs-toggle="modal" data-bs-target="#categoryEditModal" data-category-url="<%= admin_category_path(category) %>" data-category-name="<%= category.name %>" data-category-icon="<%= category.icon %>">
          <i class="fas fa-<%= category.icon %> me-1"></i><%= category.name %>
        </button>
      </li>
    <% end %>
  </ul>
  <div class="modal fade" id="categoryEditModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content p-3">
        <%= render 'admin/categories/edit_form', category: @category %>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    var categoryModal = $('#categoryEditModal');
    categoryModal.on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      var categoryName = button.data('category-name');
      var categoryIcon = button.data('category-icon');
      var categoryUrl = button.data('category-url');
      var modalNameInput = categoryModal.find('#category_name');
      var modalIconInput = categoryModal.find('#category_icon');
      var categoryForm = categoryModal.find('#categoryEditForm');
      var deleteLink = categoryModal.find('#deleteLink');
      modalNameInput.val(categoryName);
      modalIconInput.val(categoryIcon);
      categoryForm.attr('action', categoryUrl);
      deleteLink.attr('href', categoryUrl);
    });
  });
</script>