<%= form_with model: subsc, url: admin_subscription_path(subsc), method: :patch, class: "admin-subscription-form" do |f| %>
  <div class="form-group mb-3">
      <%= f.label :name, 'サブスク名' %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :image, 'イメージ画像' %>
      <%= f.file_field :image, class: "form-control-file user_image", accept: 'image/*' %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :company_id, '会社' %>
      <%= f.select :company_id, options_from_collection_for_select(Company.all, :id, :name), class: 'form-control' %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :catch_copy, 'キャッチコピー' %>
      <%= f.text_field :catch_copy, class: "form-control" %>
    </div>
    <div class="form-group mb-3">
      <%= f.label :description, '説明文' %>
      <%= f.text_area :description, class: 'form-control', rows: 9 %>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="form-group mb-3">
          <%= f.label :price, '金額' %>
          <div class="input-group">
            <span class="input-group-text" id="price">￥</span>
            <%= f.number_field :price, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group mb-3">
          <%= f.label :update_cycle, '更新周期' %>
          <%= f.select :update_cycle, *[1..12], class: 'form-control' %>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-center align-items-end">
        <div class="m-auto">
          <%= f.submit "更新する", class: 'btn btn-primary mb-3 me-3' %>
          <%= link_to "削除する", admin_subscription_path(subsc), method: :delete, "data-confirm" => "本当に削除しますか？", class: 'btn btn-danger mb-3' %>
        </div>
      </div>
    </div>
  </div>
<% end %>