<h2 class="mb-3">サブスク詳細</h2>
<div class="row">
  <div class='col-4'>
    <%= image_tag @subsc.get_image(150, 150) %>
  </div>
  <div class="col-8 p-auto">
    <h2><%= @subsc.name %></h2>
    <div class="row">
      <div class='col-md-6'>
        <h4>￥<%= @subsc.price.to_s(:delimited) %>/<%= @subsc.update_cycle %>ヵ月</h4>
        <% if @subsc.update_cycle != 1 %>
          <p>月換算 ￥ <%= (@subsc.price / @subsc.update_cycle).to_s(:delimited) %>/月</p>
        <% end %>
        <%= link_to @subsc.company.name, admin_company_path(@subsc.company) %>
      </div>
      <div class='col-md-5 offset-1 d-flex align-items-center'>
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#subscFormModal-<%= @subsc.id %>">編集</button>
        <div class="modal fade" id="subscFormModal-<%= @subsc.id %>" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <%= render 'admin/subscriptions/edit_form', subsc: @subsc %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-nowrap overflow-x-auto mt-4">
    <% @subscriptions.each do |subsc| %>
      <div class="col-4 mb-3 me-4">
        <%= link_to admin_subscription_path(subsc), class: "text-reset text-decoration-none" do  %>
          <div class="card h-100 p-2">
            <h3><%= subsc.name %></h3>
            <h5>￥<%= subsc.price.to_s(:delimited) %>/<%= subsc.update_cycle %>ヵ月</h5>
            <% if subsc.update_cycle != 1 %>
              <p>月換算 ￥ <%= (subsc.price / subsc.update_cycle).to_s(:delimited) %>/月</p>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="description mt-4"><%= simple_format(h(@subsc.description)) %></div>

<script>
  $(function() {
    $('#admin_subscription_company_id').change(function() {
      var companyId = $(this).find('option:selected').val();

      $.get({
        url: '/admin/subscriptions/change-form',
        data: { company_id: companyId }
      });
    });
  });
</script>