<div class="col-8 offset-2">
  <h2>ログイン</h2>
  <%= form_with model: @user, url: user_session_path, id: "loginForm" do |f| %>
    <div class="mb-3">
      <label for="inputEmail" class="form-label">メールアドレス</label>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", id: "inputEmail", class: "form-control", placeholder: "メールアドレス" %>
    </div>
    <div class="mb-3">
      <label for="inputPassword" class="form-label">パスワード</label>
      <%= f.password_field :password, autocomplete: "current-password",id: "inputPassword", class: "form-control", placeholder: "パスワードを" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div class="mb-5">
      <%= f.submit "ログイン", class: "btn btn-success" %>
    </div>
    <div class="mb-3">
      <div class="mb-2">
        <span>パスワードを忘れた方は</span>
        <%= link_to "こちら", new_user_password_path %>
      </div>
      <div>
        <span>初回登録の方は</span>
        <%= link_to "こちら", new_user_registration_path %>
      </div>
    </div>
  <% end %>
</div>
