<%= month_calendar attribute: :calender_day, events: subscriptions do |date, subscriptions| %>
  <%= date.day %><br>
  <% subscriptions.each do |subsc| %>
    <div class="subscription mb-md-2">
      <% if user == current_user && subsc.class == UserSubscription %>
        <button type="button" class="btn btn-info w-100" data-bs-toggle="modal" data-bs-target="#formModal<%= subsc.id %>">
          <span class="d-none d-md-block"><%= subsc.name %></span>
        </button>
        <div class="modal fade" id="formModal<%= subsc.id %>" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-3">
              <%= render 'public/subscriptions/edit_form', subsc: subsc %>
            </div>
          </div>
        </div>
      <% elsif subsc.class == UserSubscription %>
        <div class= "btn btn-secondary disabled">
          <span class="d-none d-md-block"><%= subsc.name %></span>
        </div>
      <% else %>
        <%= link_to subscription_path(subsc), class: "btn btn-success w-100" do %>
          <span class="d-none d-md-block"><%= subsc.name %></span>
        <% end %>
        <br>
      <% end%>
    </div>
  <% end %>
<% end %>