<%= month_calendar attribute: :calender_day, events: subscriptions do |date, subscriptions| %>
  <%= date.day %><br>
  <% subscriptions.each do |subsc| %>
    <div class="subscription">
      <% if user == current_user && subsc.class == UserSubscription %>
        <button type="button" class="btn btn-info w-100 mb-1" data-bs-toggle="modal" data-bs-target="#formModal<%= subsc.id %>">
          <%= subsc.name %>
        </button>
        <div class="modal fade" id="formModal<%= subsc.id %>" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content p-3">
              <%= render 'public/subscriptions/edit_form', subsc: subsc %>
            </div>
          </div>
        </div>
      <% elsif subsc.class == UserSubscription %>
        <p class= "btn btn-secondary"><%= subsc.name %></p>
      <% else %>
        <%= link_to subsc.name, subscription_path(subsc), class: "btn btn-success" %><br>
      <% end%>
    </div>
  <% end %>
<% end %>