<table class='table table-borderless table-hover'>
  <tbody>
    <% users.each do |user| %>
      <tr class="user_tr" data-href="/users/<%= user.id%>">
        <td><%= image_tag user.get_image(60, 60), class: "rounded-circle" %></td>
        <td><%= user.name %></td>
        <td>フォロー数：<%= user.followings.size %></td>
        <td>フォロワー：<%= user.followers.size %></td>
        <td>加入サブスク数: <%= user.subscriptions.size %></td>
        <td><%= render "public/relationships/btn", user: user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  jQuery(document).on("turbolinks:load", function() {
    $(".user_tr").on('click', function() {
        window.location = $(this).data("href");
    });
  });
</script>