<% if users.blank? %>
  <div class="mt-4">
    <h3 class="text-center">ユーザーはいません</h3>
  </div>
<% else %>
  <div class="d-flex flex-column">
    <% users.each do |user| %>
      <div class="user btn btn-hover d-flex my-2" data-href="/users/<%= user.id%>">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_image(50, 50), class: "rounded-circle mx-2" %>
        <% end %>
        <div class="col mx-2">
          <div class="d-flex align-items-end">
            <h5 class="mb-0"><%= user.name%></h5>
            <small class="ms-1">#<%= user.tag%></small>
            <div class="ms-auto">
              <%= render "public/relationships/btn", user: user %>
            </div>
          </div>
          <div class="mt-1 me-2">
            <small class="d-flex align-items-end text-start text-break"><%= user.introduction %></small>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
