<% if users.blank? %>
  <div class="mt-4">
    <h3 class="text-center">ユーザーはいません</h3>
  </div>
<% else %>
  <div class="d-flex flex-column">
    <% users.each do |user| %>
      <div class="user btn btn-hover d-flex align-items-center my-2" data-href="/users/<%= user.id%>">
        <%= link_to user_path(user) do %>
          <%= image_tag user.get_image(60, 60), class: "rounded-circle mx-2" %>
        <% end %>
        <div class="d-flex align-items-end mx-2">
          <h5 class="my-auto"><%= user.name%></h5>
          <small class="ms-1">#<%= user.tag%></small>
        </div>
        <span class="mx-2">フォロー数：<%= user.followings.size %></span>
        <span class="mx-2">フォロワー：<%= user.followers.size %></span>
        <span class="mx-2">加入サブスク数: <%= user.subscriptions.size %></span>
        <div class="ms-auto">
          <%= render "public/relationships/btn", user: user %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>


<script>
  $(document).on("turbolinks:load", function() {
    $(".user").on('click', function() {
        window.location = $(this).data("href");
    });
    $(".user").hover(
      function() {
        $(this).addClass("btn-light");
      },
      function() {
        $(this).removeClass("btn-light");
      }
    );
  });
</script>
