<div class="row mb-3">
  <div class="d-flex align-items-end col-3">
    <h3><%= @user.name%></h3>
    <p class="ms-1 mb-2 d-none d-sm-block">#<%= @user.tag%></p>
  </div>
  <%= form_with url: user_search_path, method: :get, class: "col-sm-7 col-8" do |f| %>
    <div class="input-group">
      <span class="input-group-text">#</span>
      <%= f.text_field :user_tag, placeholder: "ユーザー検索: 4桁のタグを入力してください", class: "form-control" %>
    </div>
  <% end %>
</div>
<ul class="nav nav-tabs nav-fill nav-justified" id="followTab" role="tablist">
  <li class="nav-item" role="mutual-follows">
    <button
      class="nav-link active"
      id="mutual-follows-tab"
      data-bs-toggle="tab"
      data-bs-target="#mutual-follows"
      type="button"
      role="tab"
      aria-controls="mutual-follows"
      aria-selected="true"
    >
      相互フォロー
    </button>
  </li>
  <li class="nav-item" role="followings">
    <button
      class="nav-link"
      id="followings-tab"
      data-bs-toggle="tab"
      data-bs-target="#followings"
      type="button"
      role="tab"
      aria-controls="followings"
      aria-selected="false"
    >
      フォロー
    </button>
  </li>
  <li class="nav-item" role="follower">
    <button
      class="nav-link"
      id="follower-tab"
      data-bs-toggle="tab"
      data-bs-target="#follower"
      type="button"
      role="tab"
      aria-controls="follower"
      aria-selected="false"
    >
      フォロワー
    </button>
  </li>
</ul>
<div class="tab-content" id="followTabContent">
  <div
    class="tab-pane fade show active"
    id="mutual-follows"
    role="tabpanel"
    aria-labelledby="mutual-follows-tab"
  >
    <%= render 'index', users: @mutually_followings %>
  </div>
  <div
    class="tab-pane fade"
    id="followings"
    role="tabpanel"
    aria-labelledby="followings-tab"
  >
    <%= render 'index', users: @followings %>
  </div>
  <div
    class="tab-pane fade"
    id="follower"
    role="tabpanel"
    aria-labelledby="follower-tab"
  >
    <%= render 'index', users: @followers %>
  </div>
</div>