<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class="profile d-flex mb-3 col-8">
      <%= image_tag @user.get_image(90, 90), class: "rounded-circle me-3" %>
      <div class="my-auto">
        <div class="d-flex align-items-end">
          <h3><%= @user.name%></h3>
          <p class="ms-1 mb-2">#<%= @user.tag%></p>
        </div>
        <%= link_to user_relationships_path(@user, anchor: "followings"), class: "text-reset text-decoration-none" do %>
          <strong><%= @user.followings.size %></strong>フォロー中
        <% end %>
        <%= link_to user_relationships_path(@user, anchor: "followers"), class: "text-reset text-decoration-none" do %>
          <strong><%= @user.followers.size %></strong>フォロワー
        <% end %>
      </div>
      <div class="mt-auto ms-3"><%= render 'public/relationships/btn', user: @user %></div>
    </div>
    <ul class="tab-list list-unstyled col-6">
      <li class="tab tab-active">
        カレンダー
      </li>
      <li class="tab">
        登録済みサブスク
      </li>
    </ul>
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%= render 'calender', subscriptions: @subsc_calender, user: @user %>
      </div>
      <div class="tabbox">
        <%= render 'public/subscriptions/index', subscriptions: @subscriptions, user: @user %>
      </div>
    </div>
  </div>
</div>