<div class='container px-xs-0'>
  <div class='row'>
    <div class="profile d-flex mb-3 col-sm-9 col-10">
      <%= link_to user_path(@user) do %>
        <%= image_tag @user.get_image(70, 70), class: "rounded-circle" %>
      <% end %>
      <div class="my-auto mx-3">
        <div class="d-flex align-items-end">
          <h3><%= @user.name%></h3>
          <p class="ms-1 mb-2">#<%= @user.tag%></p>
        </div>
        <%= link_to user_relationships_path(@user, anchor: "followings"), class: "text-reset text-decoration-none" do %>
          <strong><%= @user.followings.size %></strong>フォロー中
        <% end %>
        <%= link_to user_relationships_path(@user, anchor: "followers"), class: "text-reset text-decoration-none" do %>
          <strong><%= @user.followers.size %></strong>フォロワー
        <% end %>
      </div>
      <div class="mt-auto"><%= render 'public/relationships/btn', user: @user %></div>
    </div>
    <ul class="tab-list list-unstyled d-sm-flex d-block col-sm-3 col-2">
      <li class="tab tab-active">
        <i class="fas fa-calendar"></i>
      </li>
      <li class="tab">
        <i class="fas fa-list-alt"></i>
      </li>
    </ul>
    <div class="tabbox-contents">
      <div class="tabbox box-show">
        <%= render 'calender', subscriptions: @subsc_calender, user: @user %>
      </div>
      <div class="tabbox">
        <h2>登録済みサブスク</h2>
        <%= render 'public/subscriptions/index', subscriptions: @subscriptions, user: @user %>
      </div>
    </div>
  </div>
</div>