<header class="d-flex flex-column flex-shrink-0 p-3 border-end full-height">
  <a class="navbar-brand" href="/"><span class="fs-4">SubsLink</span></a>
  <%# <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown"> %>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user),class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-home"></i> ホーム
        <% end %>
      </li>
      <li>
        <%= link_to subscriptions_path,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-crop-alt"></i> サブスク
        <% end %>
      </li>
      <li>
        <%= link_to users_path,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-users"></i> ユーザー
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to root_path,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-home"></i> ホーム
        <% end %>
      </li>
      <li>
        <%= link_to subscriptions_path,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-crop-alt"></i> サブスク
        <% end %>
      </li>
      <li>
        <%= link_to new_user_registration_path,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-user-plus"></i> サインアップ
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path ,class: 'nav-link text-reset fs-3 fw-bold' do %>
          <i class="fas fa-sign-in-alt"></i> ログイン
        <% end %>
      </li>
    <% end %>
  </ul>
  <hr>
  <% if current_user.present? %>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-reset text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag current_user.get_image(32, 32), class: "rounded-circle me-2" %>
      <strong><%= current_user.name %></strong>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><a class="dropdown-item" href="#">新プロジェクト...</a></li>
      <li><a class="dropdown-item" href="#">設定</a></li>
      <li><a class="dropdown-item" href="#">プロフィール</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete,class: 'dropdown-item' %></li>
    </ul>
  </div>
  <% end %>
</header>