<div class="d-flex flex-column px-4 border-start full-height">
	<%= form_with url: subscriptions_search_path, method: :get do |f| %>
		<div class="input-group mb-4 p-3">
			<%= f.text_field :keyword, id: "subscriptionSearchForm", placeholder: "サブスク検索", class: "form-control col-9", 'aria-describedby': :"subscriptionSearchButton" %>
			<%= button_tag type: "submit", id: "subscriptionSearchButton", class: "btn btn-primary col-3" do %>
				<i class="fas fa-search"></i>
			<% end %>
		</div>
	<% end %>

	<div class="top_subscriptions">
		<h4>人気のサブスク</h4>
		<% top_subscriptions.each do |subsc| %>
				<div class="card btn btn-hover mb-3">
					<div class="row">
						<div class="col-xxl-4 d-none d-xxl-block">
							<%= image_tag subsc.get_image, class: "card-img" %>
						</div>
						<div class="card-body text-xxl-start col-xxl-8 col-12 p-auto">
							<h5 class="card-title"><%= link_to subsc.name, subscription_path(subsc), class: "stretched-link text-reset text-decoration-none" %></h5>
							<h6 class="card-subtitle text-muted">
								￥<%= subsc.price.to_s(:delimited) %>/<%= subsc.update_cycle %>ヵ月
							</h6>
						</div>
						<p class="card-text text-truncate mb-3"><small class="text-muted"><%= subsc.catch_copy %></small></p>
					</div>
				</div>
		<% end %>
	</div>
	<div class="recommended_user my-3">
		<% if recommended_users.present? %>
			<h4>おすすめユーザー</h4>
			<div class="d-flex flex-column">
				<% recommended_users.each do |user| %>
					<div class="user btn btn-hover d-flex my-2" data-href="/users/<%= user.id%>">
						<%= link_to user_path(user) do %>
							<%= image_tag user.get_image(50, 50), class: "rounded-circle mx-2" %>
						<% end %>
						<div class="col mx-2">
							<div class="d-flex align-items-end">
								<h5 class="mb-1 me-1 text-nowrap"><%= user.name %></h5>
								<div class="ms-auto">
									<%= render "public/relationships/btn", user: user %>
								</div>
							</div>
							<div class="text-start">
								<small class="text-start">#<%= user.tag %></small>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
	<div class="d-flex justify-content-center mt-auto">
		<p>CopyRight Sota Aoyagi</p>
	</div>
</div>