<div class="d-flex flex-column flex-shrink-0 pe-lg-3 pe-2 p-xl-3 border-end full-height">
  <a class="navbar-brand" href="/"><span class="d-none d-xl-block fs-4">SubsLink</span></a>
  <hr>
  <ul class="nav flex-column mb-auto">
    <li class="nav-item w-100">
      <%= link_to user_path(current_user), class: 'btn btn-hover rounded-pill d-flex align-items-center text-reset text-start fs-3 fw-bold my-1 w-100' do %>
        <i class="fas fa-home"></i><span class="d-none d-xl-block ms-1">ホーム</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to subscriptions_path,class: 'btn btn-hover rounded-pill d-flex align-items-center text-reset text-start fs-3 fw-bold my-1 w-100' do %>
        <i class="fas fa-list-alt"></i><span class="d-none d-xl-block ms-1">サブスク</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <%= link_to user_relationships_path(current_user),class: 'btn btn-hover rounded-pill d-flex align-items-center text-reset text-start fs-3 fw-bold my-1 w-100' do %>
        <i class="fas fa-users"></i><span class="d-none d-xl-block ms-1">ユーザー</span>
      <% end %>
    </li>
    <li class="nav-item w-100">
      <button type="button" class="btn btn-primary rounded-pill btn_shadow w-100 my-3 py-2" data-bs-toggle="modal" data-bs-target="#subscriptionModal">
        <span class="d-none d-xl-block">サブスク登録</span>
        <i class="fas fa-plus d-xl-none d-xl-block" style="color: #ffffff;"></i>
      </button>
    </li>
  </ul>
  <hr>
  <div class="dropdown dropup">
    <a href="#" class="d-flex align-items-center text-reset text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <%= image_tag current_user.get_image(32, 32), class: "rounded-circle me-2" %>
      <span class="d-none d-xl-block me-2">
        <strong><%= current_user.name + " #" %></strong>
        <%= current_user.tag %>
      </span>
    </a>
    <ul class="dropdown-menu text-small shadow">
      <li><%= link_to "Myサブスク", user_path(current_user, anchor: "subscriptions"), class: "dropdown-item" %></li>
      <li>
        <button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#userFormModal">プロフィール編集</button>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li><%= link_to "サインアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
    </ul>
  </div>
</div>
