<!DOCTYPE html>
<html>
  <head>
    <title>SubsLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if admin_signed_in? %>
      <div class="container">
        <div class="row">
          <header class="col-xl-2 col-md-1 p-0 d-none d-md-block">
            <%= render "layouts/admin_header" %>
          </header>
            <main class="col-xl-10 col-md-11">
              <div class="row">
                <div class="col-lg-8 pt-3 pb-md-0 pb-5 px-md-4 px-2 full-height overflow-auto">
                  <%= yield %>
                </div>
                <div class="d-lg-block d-none col-lg-4 p-0 full-height overflow-auto">
                  <%= render 'layouts/sidebar' %>
                </div>
              </div>
            </main>
    <% elsif !user_signed_in? %>
      <div class="container full-height">
        <div class="row">
          <div class="col-6 offset-3">
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container">
        <div class="row">
          <header class="col-xl-2 col-md-1 p-0 d-none d-md-block">
            <%= render "layouts/user_header" %>
          </header>
          <main class="col-xl-10 col-md-11">
            <div class="row">
              <div class="col-lg-8 pt-3 pb-md-0 pb-5 px-md-4 px-2 full-height overflow-auto">
                <%= yield %>
              </div>
              <div class="d-lg-block d-none col-lg-4 p-0 full-height overflow-auto">
                <%= render 'layouts/sidebar' %>
              </div>
            </div>
          </main>
        </div>
      </div>
      <footer class="fixed-bottom d-md-none">
        <%= render 'layouts/footer' %>
      </footer>
      <div class="modal fade" id="userFormModal" tabindex="-1" aria-labelledby="userFormModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-3">
            <%= render 'public/users/edit_form' %>
          </div>
        </div>
      </div>
      <div class="modal fade" id="subscriptionModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content p-3">
            <%= render 'public/subscriptions/new_form', subsc: @subsc_new %>
          </div>
        </div>
      </div>
    <% end %>
  </body>
</html>