<!DOCTYPE html>
<html>
  <head>
    <title>SubsLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <header class="col-xl-2 col-md-1 p-0 d-none d-md-block">
          <% if request.fullpath.include?("admin") %>
            <%= render "layouts/admin_header" %>
          <% else %>
            <%= render "layouts/user_header" %>
          <% end %>
        </header>
        <main class="col-xl-10 col-md-11">
          <div class="row">
            <div class="col-lg-8 px-4 pb-md-0 pb-5 full-height overflow-auto">
              <p id="notice"><%= notice %></p>
              <%= yield %>
            </div>
            <div class="d-lg-block d-none col-lg-4 p-0 full-height overflow-auto">
              <%= render 'layouts/sidebar' %>
            </div>
          </div>
        </main>
      </div>
    </div>
    <% if user_signed_in? %>
      <footer class="fixed-bottom d-md-none">
        <%= render 'layouts/footer' %>
      </footer>
    <% end %>
  </body>
</html>