<!DOCTYPE html>
<html>
  <head>
    <title>SubsLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container full-height">
      <div class="row full-height">
        <div class="col-2">
          <%= render 'layouts/header' %>
        </div>
        <main class="col-8">
          <p id="notice"><%= notice %></p>
          <%= yield %>
        </main>
        <div class="col-2">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
