<!DOCTYPE html>
<html>
  <head>
    <title>SubsLink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid full-height">
      <div class="row justify-content-center">
        <div class="col-2 full-height">
          <% if request.fullpath.include?("admin") %>
            <%= render "layouts/admin_header" %>
          <% else %>
            <%= render "layouts/user_header" %>
          <% end %>
        </div>
        <main class="col-7 full-height overflow-auto">
          <p id="notice"><%= notice %></p>
          <%= yield %>
        </main>
        <div class="col-3 full-height">
          <%= render 'layouts/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>